/* #213F7E ,#D7E9F5; 
gradient color use krechi.. sidebar =>   top: #213F7E   bottom: #4195D1
topbar =>  left: #213F7E  right: #4195D1
*/
#profile_img {
    border-radius: 50%;
}


.form-inline .custom-select,
.form-inline .input-group {
    width: 900px;
}

.content-wrapper>.content {
    padding: 0 !important;
    margin: 0px !important;
}

.content-wrapper,
body:not(.sidebar-mini-md) .main-footer,
body:not(.sidebar-mini-md) .main-header {
    transition: margin-left 0.3s ease-in-out;
    margin-left: 190px;
}

.content-wrapper,
body:not(.sidebar-mini-md) .main-footer,
body:not(.sidebar-mini-md) .main-header {
    transition: margin-left 0.3s ease-in-out;
    margin-left: 188px !important;
}

/* {
    
} */
.navbar {
    border-radius: 0px;
    min-height: 80px;
    background-color: #213f7e;
    background-image: linear-gradient(to right, #213f7e, #4195d1);
}

aside {
    background-color: #213f7e;
    background-image: linear-gradient(#213f7e, #4195d1);
}

.input-group-sm>.custom-select,
.input-group-sm>.form-control:not(textarea) {
    height: calc(0.5em + 2.5rem + 6px);
    border-radius: 1.1rem !important;
}

/* ----------------------For normal style------------------------------------ */
* {
    margin: 0 !important;
}

body {
    background-color: white;
    font-family: "Montserrat" !important;
    font-size: 12px;
    font-weight: 800;
}

.text_white {
    color: white;
}

#center {
    margin: 0 auto !important;
    text-align: center;
}
.center {
    margin: 0 auto;
    text-align: center;
}

.fa-edit {
    color: white;
    font-size: 12px;
    background-color: #213f7e;
    padding: 5px;
    border-radius: 20%;
}

.left_align {
    text-align: left;
    float: left;
}
.right_align {
    text-align: right;
    float: right;
}
.inbox a{
    color: black !important;
    

}
.inbox a:-webkit-any-link {
    text-decoration: none;
    cursor: pointer;
}
/*-------- profile.php page-------- */

#marginbottom{
    margin-bottom: 15px !important;
}
/* ---------------msg details page------------------------------------------------- */
.msg {
    margin: 18px 0 !important;
}
.msg_content{
    overflow-wrap: anywhere;
    height: auto;
}

.msg_content .msg_status{
    background-color: #a2a9ac;
    max-width: 108px;
    padding: 3px;
    text-align: center;
    border-radius: 16px;
    color: white;
}
.msg_content .msg_body{
 
padding: 20px 0px;
}
.msg_content .div_box{
    position: inherit;
    background-color: #a2a9ac;
    width: 40%;
    height: 26%;
    margin: 8px 0 !important;
}
.msg_content .msg_button{
    border-radius: 0px !important;
    color: white !important;
    background-color: #213f7e;
    width: 178px;
    
}


/*------------------------------------------------------------------ */
/*---------------------inbox design------------------------------------------------------- */
div.msg_card_header {
    background-color: white !important;
    border-style: none !important;
    border: none !important;
    padding: 8px 0px;
}

div.card {
    border-style: none !important;
    border: none !important;
    padding: 100%  0 ;
}

div.msg_box {
    padding: 0 0px;
    margin-top: 20px !important;
}

div.unread_msg {
    background-color: #d7e9f5;
}

hr {
    background-color: #31a4a4;
    width: 95%;
    text-align: center;
    margin: 0 auto !important;
    border-width: thick;
    border-top: 2px solid #a9bebe;

    margin-top: 15px !important;
}

/*----------------------page pagination---------------------------------------------------- */
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 0px solid #ddd;
}

.pagination a.active {
    background-color: #f0f0f5;
    color: black;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/*-----------------------------compose popup-------------------- ---------------------*/
#compose_popup_content .modal-dialog{
    left: 50% !important;
    top: 50% !important;
    transform: translate(-0%, -0%) !important;
    position: sticky !important;
  }
  #compose_popup_content .modal_header {
    background-color: #3B3B53;
    color: white;
    padding: 15px;
}
#compose_popup_content .modal_header_left {
   float: left;
}
#compose_popup_content .modal_header_right {
    float: right;
 }
 #compose_popup_content .form-control{
    margin: 12px 0 !important;
 }
 #compose_popup_content .modal-body {
    background-color: #213F7E;
}

  #compose_popup_content  .right-zero{
    margin-right: 0 !important;
 }
/* ------------------------------------------------- */

